html {
  height: 100%;
  scroll-behavior: smooth;

}
body {
  
  background-color: black;

	
}

.todo{
	width: 100%;
	min-height: 100%;
    margin: auto;
    	padding: 0px;
	background-color: #fff;
}

li:focus, li:hover, li:active, pagina:hover {
/*  background-color: #387B8F;
  padding: 3px;
 
  transition: all .5s;
  margin-left: 15px;*/
	 text-decoration: none;
     color: white;
}
/*hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #5bc0de;
}*/
h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
}
h2 {
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}
row {
  padding-bottom: 20px;
}
/*----- formato de la cabecera ----*/

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background-color: #121619;
}

/*--- deja con color negro la barra menú al bajar la vista de la página ----*/
#navbar.scrolled {
  background-color: #3A3A3A !important;
  transition: background-color 200ms linear;
}
.columnas {
  text-align: center;
  color: #fff;
  background-color: #5BC0DE;
  font-size: 30px;
}
.columnas_texto {
  text-align: left;
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
}
/*--- zonas calypso del footer ----*/
.divi_plomo	 {
  background-color: #E6E7E7;
  width: 100%;
  
  left: 0;
 
  bottom: 0;	
	
	height: 134px;
	display: flex;
  align-items: center;
  justify-content: center;
 
}

.botones_i {
border: 1px  hidden; /*anchura, estilo y color borde*/
margin:1px;
padding: 10px; /*espacio alrededor texto*/
background-color: #fff; /*color botón*/
color: #000; /*color texto*/
text-decoration: none; /*decoración texto*/

font-family: 'Roboto', sans-serif; /*tipografía texto*/
font-size: 16px;
	
border-radius: 15px 0px 0px 15px; /*bordes redondos*/
}
.botones_d {
border: 1px  hidden; /*anchura, estilo y color borde*/
margin:1px;
padding: 10px; /*espacio alrededor texto*/
background-color: #fff; /*color botón*/
color: #000; /*color texto*/
text-decoration: none; /*decoración texto*/
font-size: 16px;
font-family: 'Roboto', sans-serif; /*tipografía texto*/
border-radius: 0px 15px 15px 0px; /*bordes redondos*/
width: 55px;
}
.botones {
border: 1px  hidden; /*anchura, estilo y color borde*/
margin:1px;
padding: 10px; /*espacio alrededor texto*/
	
background-color: #fff; /*color botón*/
color: #000; /*color texto*/
text-decoration: none; /*decoración texto*/
font-size: 16px;
font-family: 'Roboto', sans-serif; /*tipografía texto*/
border-radius: 0px; /*bordes redondos*/
}
.botones_act {
border: 1px  hidden; /*anchura, estilo y color borde*/
margin:1px;
padding: 10px; /*espacio alrededor texto*/
	
background-color: #707070; /*color botón*/
color: #fff; /*color texto*/
text-decoration: none; /*decoración texto*/
font-size: 16px;
font-family: 'Roboto', sans-serif; /*tipografía texto*/
border-radius: 0px; /*bordes redondos*/
}
.divi_negro	 {
  background-color: #121619;
  width: 100%;
  bottom: 0;	
	height: 206px;
 	display: flex;
  align-items: center;
  justify-content: center;
	
}

.bigote_footer{
	width: 122px;
	vertical-align:middle;
}

.footer_cont {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
}
/*------- fin css del area footer ----*/
/*---- oculta la sección de quienes somos al ser visto en dispositivos moviles----*/
@media only screen and (max-width: 576px) {
  .section_somos {
    display: none;
  }
}
  
	
   

.tooltip-inner {
  background-color: #fff;
  color: black;
  font-size: 14px;
}

/*--- formato a las tarjtetas ---*/
.card-title {
  color: white;
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: justify;
}
.card {
  background-color: transparent;
}
.card-block {
  text-align: center;
}
.card_titulo {
  height: 65px;
}
/*------botones-----------*/
.boton_leermas {
  background-color: #424242;
  color: white;
}
/*---
.btn-primary {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.btn-primary:hover {
  background-color: black !important;
  color: white;
  border-color: aliceblue;
}
-----fin botones ---------*/
.popover {
  background-color: black;
}

/*-----.boton_ico {
  color: white;
  font-size: 30px;
  padding: 7px;
}
.boton_ico:hover {
  color: black;
  border-color: aliceblue;
}

------css cargando página-----
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
------*/